h2 {
 text-align: center;
 font-weight: bold;
 font-family:"Arial Black", Gadget, sans-serif;
 font-size: 30px;
 color: black;
 margin-bottom: 30px;
}

*{
	 box-sizing: border-box;
}

#box {
  width: 97%;
  margin: 15px;
  background-color: #E7E7E7;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  text-align: left;
}

p{
	font-size: 15px;
	font-family:  Arial, Helvetica, sans-serif;
	margin: 10px 10px 0px 10px;
	font-color: white;
}

/*chicken*/
#title1{
  font-weight: bold;
  text-align: center;
  color: black;
  font-family:"Arial", Helvetica, sans-serif;
  font-size: 20px;
  margin-top: -5px;
  margin-bottom: 0px;
}

/*beef*/
#title2{
  font-weight: bold;
  text-align: center;
  color: black;
  font-family:"Arial", Helvetica, sans-serif;
  font-size: 20px;
  margin-top: -5px;
  margin-bottom: 0px;
}

/*sushi*/
#title3{
  font-weight: bold;
  text-align: center;
  color: black;
  font-family:"Arial", Helvetica, sans-serif;
  font-size: 20px;
  margin-top: -5px;
  margin-bottom: 0px;
}

body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}



/** HEADER **/
#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 40px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family:"Arial Black", Gadget, sans-serif;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 3px 3px 3px gray;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .4;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand {
  padding-top: 25px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
  background: gray;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
  color: black;
}
/** HEADER END **/

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 20px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 1px;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

}
